/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* VARIABLES */
:root {
    --pink: #ff4f60;
    --overlay: rgba(0, 0, 0, 0.55);
}

/* HEADER */
.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 30px 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: absolute;
     top: 0;
    left: 0;
    right: 0;
    background: transparent; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 1.1rem;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0.85;
}

.nav a:hover {
    opacity: 1;
    color: #ff4f60;
}

/* HERO */
.hero {
    height: 100vh;
    width: 100%;

    background-image: 
        linear-gradient(var(--overlay), var(--overlay)),
        url("Images/headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
     padding-top: 140px;
}

.hero-content {
    max-width: 750px;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.subtitle {
    opacity: 0.9;
    margin-bottom: 25px;
}

.cta-btn {
    background: var(--pink);
    color: white;
    padding: 14px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
}

.description {
    line-height: 1.6;
    opacity: 0.9;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
    .nav {
        gap: 15px;
    }

    .hero h1 {
        font-size: 1.6rem;
    }

    .hero {
        height: auto;
        padding: 100px 20px;
    }
}
